main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    background-color: white;
    padding: 6em 8em 3em 8em;
}
main .top{
    display: flex;
    justify-content: center;
    gap: 4em;
}

.card{
    max-width: 35em;
    padding-bottom: 3em;
}
main h2{
    font-weight: 500;
    font-size: 2.2em;
    padding-bottom: 0.3em;
}

.card a{
    display: inline-block;
    text-decoration: none;
    margin-top: 2em;
    padding: 0.5em 1em;
    color: #b0825c;
    font-weight: bold;
    border: 1px solid #b0825c;
}

main p{
    font-weight: lighter;
    color: #747474;
}

hr{
    margin: 3em 0;
    color: #d2d2d2;
    width: 100vw;
}


main .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sponsors{
    max-width: 73em;
}
.bottom h2{
    color: #b0825c;
}
.images{
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 2em;
}
.images img{
    width: 7em;
    background-color: #dddddd;
    padding: 1em;
    border-radius: 4em;
}