@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/* !!!!!!!RESET */
* {
    box-sizing: inherit;
}

img{
    width: 5em;
}

html {
    box-sizing: border-box;    
}
/* ------------------------ */

/* !!!!!!!!!TYPOGRAPHY */
p,h4,li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
}
/* ------------------- */

/* !!!!!!!!!!!!!!GENERAL */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
.page{
    display: flex;
    max-width: 90vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    padding: 1em;
}
main{
    flex: 1;
}
/* --------------------------- */

/* !!!!!!!!!!!!!!HEADER */
header{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: space-between;
}

.logo{
   width: 16em;
}

.logo >*{
    width: 100%;
    margin: 0em;
}

.logo h1{
    color: purple;

}

.logo p{
    font-size: 0.6em;
    text-transform: uppercase;
}

header nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    list-style-type: none;
}

nav li>*{
    color: black;
    text-decoration: none;
}

/* --------------------------------- */

/* !!!!!!!!!!!!MAIN */
main{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    margin-top: 5em;
}

/* need websiete */

.need-website{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

button{
    background-color: white;
    border: 3px solid black;
    text-align: center;
    padding: 0.5em
}

.left-text{
    max-width: 30em;
} 

.need-website img{
    width: 8em;
    float: right;
}

/* --------------- */
/* people cards */
.people-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
}

.heading hr{
    width: 5em;
    margin: 0;
}

ul.people-list{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 45em;
    padding-left: 0;
}

.people-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13em;
    text-align: center;
    margin-bottom: 2em;
}

.people-list h4{
    margin: 0;
    font-weight: 400;
}

.people-list p{
    font-style: italic;
}

.people-list li h3{
    margin: 0;
}

.people-list img{
    border-radius: 3em;
    box-shadow: 0 0 9px 1px gray;
    margin-bottom: 1.5em;
}

/* ------------------ */

.newsletter{
    display: flex;
    flex-direction: column;
    background-color: purple;
    color: white;
    width: 100vw;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: -5px 0 10px 2px rgb(128, 128, 128, 0.6);
}

form{
    display: flex;
    justify-content: center;
    margin: 1em auto 1em auto;
    width: 35em;
    gap: 1em;
    height: 3em;
}

.newsletter h2{
    font-size: 2.2em;
}

.newsletter hr{
    background-color: black;
    color: black;
    border: 1px solid black;
}

form input{
    width: 20em;
    border: 3px solid black;
}

.testimonials{
    margin-top: 10em;
}

/* ------------- */

/* FOOTER  */
footer{
    display: flex;
    width: 100vw;
    padding: 5vw;
    flex-direction: column;
    justify-content: center;
    border-top: 5px solid rgb(128, 128, 128, 0.2);
    gap: 1em;
    list-style-type: none;
}

h2{
    margin-top: 0;
}

.ad{
    width: 20em;
}

.sitemap{
    display: flex;
    gap: 7em;
    justify-content: center;
    width:25em;
}

.contacts{
    width: 20em;
}

.contacts-list{
    padding: 0;
}

.contacts li{
    display: flex;
    align-items: center;
    padding-bottom: 0.4em;
    gap: 0.5em;
   
}

.contacts li, .sitemap li{
    margin-bottom: 0.4em;
}

.contacts li p{
    margin: 0;
}


.right{
    align-self: center;
    justify-self: center;
}

/* !!!!!RESPONSIVE */


@media (min-width: 1024px) {
    header{
        flex-direction: row;
    }
    header nav{
        flex-direction: row;
    }

    footer{
        flex-direction: row;
    }
}

/* Phones */
@media (max-width: 767px) {
    :root {
        font-size: 16px; /* Base font size for phones */
    }
    /* Adjust font sizes for specific elements as needed */
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    :root {
        font-size: 18px; /* Base font size for tablets */
    }
    /* Adjust font sizes for specific elements as needed */
}

/* Laptops */
@media (min-width: 1024px) and (max-width: 1439px) {
    :root {
        font-size: 20px; /* Base font size for laptops */
    }
    /* Adjust font sizes for specific elements as needed */
}

/* Desktops */
@media (min-width: 1440px) {
    :root {
        font-size: 24px; /* Base font size for desktops */
    }
    /* Adjust font sizes for specific elements as needed */
}
