@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/* !!!!!!!RESET */
* {
    box-sizing: inherit;
}

img{
    width: 5em;
}

html {
    box-sizing: border-box;    
}
/* ------------------------ */

/* !!!!!!!!!TYPOGRAPHY */
p,h4,li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
}
/* ------------------- */

/* !!!!!!!!!!!!!!GENERAL */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
.page{
    display: flex;
    max-width: 90vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    padding: 1em;
}
main{
    flex: 1;
}
/* --------------------------- */

/* !!!!!!!!!!!!!!HEADER */
header{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-direction: column;
    width: fit-content;
    float: left;
}

.logo >*{
    width: 100%;
    margin: 0em;
}

.logo h1{
    color: purple;
    word-spacing: 16px;
    letter-spacing: 5px;
}

.logo p{
    font-size: 10px;
    text-transform: uppercase;
}

header nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    list-style-type: none;
}

nav li>*{
    color: black;
    text-decoration: none;
}

/* --------------------------------- */

/* !!!!!!!!!!!!MAIN */
main{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

/* need websiete */

.need-website{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

button{
    background-color: white;
    border: 3px solid black;
    text-align: center;
    padding: 0.5em
}

.left-text{
    max-width: 30em;
} 

.need-website img{
    width: 8em;
    float: right;
}

/* --------------- */
/* people cards */
.people-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
}

.heading hr{
    width: 5em;
    margin: 0;
}

ul.people-list{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 80em;
    padding-left: 0;
}

.people-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13em;
    text-align: center;
    margin-bottom: 2em;
}

.people-list h4{
    margin: 0;
    font-weight: 400;
}

.people-list p{
    font-style: italic;
}

.people-list li h3{
    margin: 0;
}

.people-list img{
    border-radius: 3em;
    box-shadow: 0 0 9px 1px gray;
    margin-bottom: 1.5em;
}

/* ------------------ */

.newsletter{
    display: flex;
    flex-direction: column;
    background-color: purple;
    color: white;
    width: 100vw;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

form{
    display: flex;
    justify-content: center;
    margin: 1em auto 1em auto;
    width: 35em;
    gap: 1em;
    height: 3em;
}

.newsletter h2{
    font-size: 2.2em;
}

.newsletter hr{
    background-color: black;
    color: black;
    border: 1px solid black;
}

form input{
    width: 20em;
    border: 3px solid black;
}

/* ------------- */

/* FOOTER  */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* !!!!!RESPONSIVE */
@media (max-width: 600px) {
    body{
        font-size: 12px;
    }
}