@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/* !!!!!!!RESET */
* {
    box-sizing: inherit;
}

img{
    width: 5em;
}

html {
    box-sizing: border-box;    
}
/* ------------------------ */

/* !!!!!!!!!TYPOGRAPHY */
p,h4,li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
}
/* ------------------- */

/* !!!!!!!!!!!!!!GENERAL */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
.page{
    display: flex;
    max-width: 90vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    padding: 1em;
}
main{
    flex: 1;
}
/* --------------------------- */

/* !!!!!!!!!!!!!!HEADER */
header{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-direction: column;
    width: fit-content;
    float: left;
}

.logo >*{
    width: 100%;
    margin: 0em;
}

.logo h1{
    color: purple;
    word-spacing: 16px;
    letter-spacing: 5px;
}

.logo p{
    font-size: 10px;
    text-transform: uppercase;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    list-style-type: none;
}

nav li>*{
    color: black;
    text-decoration: none;
}

/* --------------------------------- */

/* !!!!!!!!!!!!MAIN */
main{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.need-website{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.left-text button{
    background-color: white;
    border: 3px solid black;
    padding: 0.5em
}

.need-website img{
    max-width: 50%;
}

.left-text{
    max-width: 50%;
}







