
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

body>*:not(:nth-child(2)){
    background-color: lightskyblue;
    border-radius: 4px;
    padding-left: 1em;
}


header{
    display: flex;
    width: 100vw;
    gap: 3em;
    padding: 1em;
}
header h1{
    flex-grow: 1;
}

header nav{
    display: flex;
    width: 100vw;
    align-items: center;
    gap: 3em;
}

header nav >*{
    list-style-type: none;
}

div{
    display: flex;
    gap: 1em;
}

div>*{
    background-color: lightskyblue;
    border-radius: 4px;
    padding-left: 1em;
}

aside{
    flex-grow: 5;
}

main{
    flex-grow: 1;
    padding: 1em;
}

main nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
}

main nav>*{
    list-style-type: none;
    color: purple;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}