@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');

body{
    font-family: 'Pt Serif', serif;
}

.page{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main{
    flex: 1;
}

.contacts{
    display: flex;
    background-color: #d01919;
    color:  white;
    justify-content: space-between;
    padding: 0.2em 1em 0.2em 1em;
}

.left, .middle, .right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.header-image{
    background-image: url(03.Fitness-Site-Resources/image/fitness-main.jpg);
    background-size:auto;
    background-position: center center;
    height: 30em;
}