.need-website{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

button{
    background-color: white;
    border: 3px solid black;
    text-align: center;
    padding: 0.5em
}

.left-text{
    max-width: 30em;
} 

.need-website img{
    width: 8em;
    float: right;
}

/* --------------- */
/* people cards */
.people-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
}

.heading hr{
    width: 5em;
    margin: 0;
}

ul.people-list{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 45em;
    padding-left: 0;
}

.people-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13em;
    text-align: center;
    margin-bottom: 2em;
}

.people-list h4{
    margin: 0;
    font-weight: 400;
}

.people-list p{
    font-style: italic;
}

.people-list li h3{
    margin: 0;
}

.people-list img{
    border-radius: 3em;
    box-shadow: 0 0 9px 1px gray;
    margin-bottom: 1.5em;
}

/* ------------------ */

.newsletter{
    display: flex;
    flex-direction: column;
    background-color: purple;
    color: white;
    width: 100vw;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: -5px 0 10px 2px rgb(128, 128, 128, 0.6);
}

form{
    display: flex;
    justify-content: center;
    margin: 1em auto 1em auto;
    width: 35em;
    gap: 1em;
    height: 3em;
}

.newsletter h2{
    font-size: 2.2em;
}

.newsletter hr{
    background-color: black;
    color: black;
    border: 1px solid black;
}

form input{
    width: 20em;
    border: 3px solid black;
}

.testimonials{
    margin-top: 10em;
}