body{
    font-family: Helvetica, sans-serif;
    margin: 4em;
    background-color:  rgb(238, 238, 238);
}

body>header{
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid black;
}

nav *{
    list-style-type: none;
    text-decoration: none;
    color: rgb(32, 176, 0);
}

header nav *{
    display: inline-block;
    margin-bottom: 0.76em;
    margin-right: 1em;
    position: relative;
    right: -255px;
}

aside nav ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: black; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

body header p:first-child{
    font-size: xx-large;
    font-weight: bolder;
    margin-right: 2.5em;
    text-transform: uppercase;
}

h1,h2,h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    margin-top: 2em;
}

article{
    width: 700px;
    display: inline-block;
}

header img{
    float: inline-end;
    margin: 0px 0px 10px 13px;
}

img{
    background-color: white;
    padding: 0.3em;
    border: 3px solid black;
    box-shadow: 0px 0px 8px 3px lightgray;
}

article section{
    font-style: italic;
    float: inline-end;
    width: 45%;
    height: 170px;
    padding-left: 20px;
    margin-left: 13px;
    border-left: 2.5px solid lightgray;
    color: gray;
    p{
        margin-top: 0px;
    }
}

article section p:nth-child(2){
    float: inline-end;
}

h2+img{
    float:inline-start;
    margin: auto 20px 20px auto;
}

aside
{
    vertical-align: top;
    float: right;
    width: 300px;
}